*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    line-height: 1;
    background-color: rgb(185, 236, 243);
}

.container {
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.logo {
    background-color: #2c1d55;
    color: #fff;
    font-size: 5rem;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    padding: 3rem;
    text-shadow: 2px 5px #999;
    letter-spacing: 5px;
    line-height: 1.5;
    margin-bottom: -5rem;
}

nav {
    background-color: #888;
    font-size: 1.6rem;
    display: flex;
    padding: 0.5rem 10rem;
    align-items: center;
}

.for-navbar {
    position: -ms-sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

.main-nav {
    margin-right: auto;
    display: flex;
    gap: 2rem;
}

.social {
    display: flex;
    gap: 2rem;
}

.link:link,
.link:visited {
    color: #fff;
    text-decoration: none;
}

.main-nav .link:hover,
.main-nav .link:active {
    color: yellow;
    letter-spacing: 2px;
    transform: translateX(1.5);
    transition: all 0.2s;
}

.social .link:hover,
.social .link:active {
    transform: scale(1.2);
    transition: all 0.2s;
}

.image {
    height: 4rem;
}

main {
    background-color: #eee;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.main-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #aaa;
    text-align: center;
    padding: 1rem;
    letter-spacing: 3px;
}

.project-box {
    background-color: #444;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
}

.project div {
    background-color: #fff;
    margin: 2rem;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
}

.project:hover {
    box-shadow: 0 1px 1px 3px yellow;
}

.project div:hover {
    box-shadow: 0 1px 1px 3px rgb(154, 217, 248);
}

.project:link,
.project:visited {
    text-decoration: none;
}

.project div p:first-child {
    background-color: rgb(108, 111, 233);
    padding: 6rem;
    letter-spacing: 2px;
}

.project div p:last-child {
    color: #444;
    padding: 4rem;
}

.main-title-2 {
    line-height: 1.5;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

footer div {
    padding: 2rem;
    display: flex;
    background-color: #f7f7f7;
    justify-content: space-between;
    align-items: center;
}

.footer-p {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: underline;
}

.footer-nav {
    display: flex;
    gap: 2rem;
}

.footer-nav .link:link,
.footer-nav .link:visited {
    color: #444;
    font-size: 1.6rem;
}

.footer-nav .link:hover,
.footer-nav .link:active {
    color: rgb(100, 22, 245);
    letter-spacing: 2px;
    transform: scaleX(1.2);
    transition: all 0.2s;
}

.footer-social .link:hover,
.footer-social .link:active {
    transform: scale(1.1);
    transition: all 0.3s;
}

.footer-social .link:not(:last-child) {
    margin-right: 2rem;
}

.copyright {
    background-color: #444;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}

.project-box a div p {
    line-height: 1.5;
}

/* Responsive */

@media screen and (max-width: 1170px) {
    .footer-p {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1065px) {
    .project-box {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-p {
        font-size: 3rem;
    }
}

@media screen and (max-width: 975px) {
    .footer-p {
        text-decoration: none;
        line-height: 1.5;
    }
}

@media screen and (max-width: 815px) {
    .project-box {
        grid-template-columns: repeat(2, 1fr);
    }
    nav {
        padding: 0.5rem 2rem;
    }
    .footer-social .link:not(:last-child) {
        margin-right: 1rem;
    }
    .footer-nav {
        gap: 1rem;
    }
}

@media screen and (max-width: 705px) {
    .footer-nav,
    .footer-social {
        flex-direction: column;
    }
    .footer-social {
        gap: 1rem;
    }
    .footer-nav {
        gap: 6.5rem;
    }
    .footer-p {
        font-size: 3.5rem;
    }
    .logo {
        font-size: 4rem;
    }
}

@media screen and (max-width: 575px) {
    .logo {
        font-size: 3rem;
    }
}

@media screen and (max-width: 550px) {
    .project-box {
        grid-template-columns: repeat(1, 1fr);
    }
    .main-nav,
    .social {
        gap: 1rem;
    }
}

@media screen and (max-width: 460px) {
    .main-nav,
    .social {
        flex-direction: column;
    }
    nav {
        padding: 2rem 5rem;
    }

    .main-nav {
        gap: 7rem;
    }
    .footer-p {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 405px) {
    footer div {
        flex-direction: column;
    }
}

@media screen and (max-width: 300px) {
    .project-box {
        padding: 0;
    }
    .project:hover {
        box-shadow: none;
    }
}
